/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");

/* universal selector  */
* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 80px;
  background-color: #28293e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}
nav .logo img {
  width: 90%;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0px 200px 0px 0px;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-style: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
nav ul li a:hover {
  color: #28293e;
  background-color: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}

/* hero area css  */
.hero-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #28293e;
  color: #fff;
  text-align: center;
}
.hero-section h1 {
  margin-bottom: 20px;
  font-size: 72px;
}
.hero-section p {
  color: #ddd;
  line-height: 22px;
}

/* about area css  */
.about-section {
  background-color: #fdf0e9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-left {
  flex: 40%;
}
.about-right {
  flex: 40%;
}

/* section area css  */
.service-section {
  background-color: #fdf0e9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* nav responsive query  */

@media (max-width: 940px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #28293e;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  #click:checked ~ ul {
    left: 0%;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav button {
    display: none;
  }
}

/* hero responsive query  */
@media (max-width: 940px) {
  .hero-section h1 {
    font-size: 40px;
  }
  .hero-section p {
    color: #ddd;
    font-size: 12px;
    line-height: 22px;
  }
}
